<div class="container">
          <h2>Watchable Movies</h2>
              <p> In this Site You will only find Watchable Movies . No stupid Bollywood Drama is accepted here !</p>
        <div class="row">
            <div class="col-md-4">
                <h5>Movies</h5>
                <img src="../../../assets/images/home-movies.png" alt=""  height = "500px" width = "500px">
            </div>
            <div class="col-md-4">
                <h5>Star Cast</h5>
                <img src="../../../assets/images/home-movies-1.png" alt=""  height = "500px" width = "500px">
            </div>
            <div class="col-md-4">
                <h5>Geners</h5>
                <img src="../../../assets/images/home - genre.png" alt=""  height = "500px" width = "500px">
            </div>
        </div>  
</div>